<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Learn VueJs Transition </title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="main.css">
    <script type="text/javascript"src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
      <template id="my-greet">
        <div class="container">
          <h1>Type Two Numbers And Choose Operation</h1>
           <form class="form-inline" >
              <div class="firstDiv m-1">
                <input v-model='inputOne' type="text" name="inputOne" placeholder="Enter any number" id='input' class="form form-control" >
             </div>

              <div class="secondDiv">
                <select v-model='operator' class="form-control">
                  <option disabled >Select</option>
                  <option>+</option>
                  <option>-</option>
                  <option>*</option>
                  <option>/</option>
                </select>
              </div>

              <div class="thirdDiv m-1">
                  <input v-model='inputTwo' type="text" name="inputTwo" placeholder="Enter any number" id='inputTwo' class="form form-control" >
              </div>
              <div>
                <button type="button" name="button" class="btn btn-primary">calculate</button>
              </div>
           </form>
           <span>{{ operator }}</span>
        </div>
      </template>

      <div id='app'>
      </div>
    <!-- development version, includes helpful console warnings -->
  <script>
    let vm = new Vue({
      el:'#app',
      data: {
        inputOne:'',
        inputTwo:'',
        operator:''
      },
      template:'#my-greet'
    })
  </script>
  </body>
</html>
